<p id="notice"><%= notice %></p>

<h3>Events</h3>
<p> <%= link_to "Manage Categories", categories_path %> </p>

<%= render "form", event: Event.new, created_category: flash[:category] %>

<div class="row">
  <p> You have <%= @events.count %> <%= 'event'.pluralize(@events.count) %> today </p>
  <% @events.each do |event| %>
    <div class="col s4">
        <div class="my-card box-shadow">
            <div class="header">
                <span class="category-name big"> <%= event.category.name %> </span>
                <span class="float-right date-added"> Added <%= time_ago_in_words(event.created_at) %> ago </span>
            </div>

            <div class="content">
              <% if event.description.to_s.length <= 40 %>
                <%= event.description %>
              <% else %>
                <%= "#{event.description.to_s[0..80]}..." %>
              <% end %>
            </div>
            <div class="footer"> 
              <%= event.comments.count.to_s %> <a href="<%= event_path(event)%>" class="material-icons">message</a>
              <span class="float-right">
                  <a href="<%= event_path(event)%>" class="tiny material-icons">zoom_in</a>
                  <a href="<%= edit_event_path(event)%>" class="tiny material-icons">create</a>
                  <a href="<%= event_path(event)%>" class="tiny material-icons"  data-confirm="Are you sure?" rel="nofollow" data-method="delete">clear</a>
              </span>
            </div>
        </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
