<p id="notice"><%= notice %></p>

<h3>Events</h3>
<p> <%= link_to "Manage Categories", categories_path %> </p>

<%= render "form", event: Event.new %>

<div class="row small-up-2 medium-up-3">
  <% @events.each do |event| %>
    <div class="column">
        <div class="card">
          <div class="card-divider">
             <h4> <%= event.category.name %> </h4>
          </div>
          <div class="card-section">
            <p> <%= "#{event.description.to_s[0..50]}..." %> </p>
            <div> 
              <span class="event-comment">
              <%= event.comments.count.to_s + ' ' + 'comments'.pluralize(event.comments.count) %>
              </span>
              <span class="top-bar-right">
                <ul class="menu">
                  <li> <%= link_to '', event, class: "fi-magnifying-glass" %> </li>
                  <li> <%= link_to '', edit_event_path(event), class: "fi-pencil" %> </li>
                  <li>
                    <%= link_to '', event, class: "fi-x", method: :delete, data: { confirm: 'Are you sure?' } %>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
