<div class="my-container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col s12">
      <div class="my-card box-shadow">
        <div class="header">
          <span class="category-name big"> <%= @event.category.name %> </span>
          <span class="date-added float-right"> <%= @event.created_at.strftime('%A, %d %b %Y %l:%M %p') %> ~ <%= time_ago_in_words(@event.created_at) %> ago </span>
        </div>

        <div class="content">
          <%= @event.description %>
        </div>

        <div class="footer">
          <span class="">
              <a href="<%= edit_event_path(@event)%>" class="material-icons">create</a>
              <a href="<%= event_path(@event)%>" class="material-icons"  data-confirm="Are you sure?" rel="nofollow" data-method="delete">clear</a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <%= form_for Comment.new do |f| %>
    <%= f.text_field :comment, placeholder: "Add Comment", class: "comment-input" %>
    <%= hidden_field_tag("comment[event_id]", @event.id) %>
    <%= hidden_field_tag(f.submit)%>
  <% end %>
  
  <h5> <%= @comments.count%> <%= 'comment'.pluralize(@comments.count) %> </h5>

  <div class="comments">
    <% @comments.each do |comment| %>
      <div class="comment box-shadow">
        <div class="row">
          <div class="col s12">
            <% comment.comment.split(' ').each do |word| %>
              <% if uri?(word) %>
                <a href="<%= word %>" target="_"> <%= word %> </a>
              <% else %>
                <%= word %>
              <% end %>
            <% end %>
          </div>
          <div class="col s12 text-grey">
            <span class="date-added"> <%= comment.created_at.strftime('%I:%M %P') %> ~ <%= time_ago_in_words(comment.created_at) %> ago </span>
            <span style="float: right">
              <a href="<%= edit_comment_path(comment)%>" class="material-icons">create</a>
              <a href="<%= comment_path(comment)%>" class="material-icons" data-method="delete">clear</a>
            <span>
          </div>
        </div>
      </div>

    <% end %>
  </div>

  <%= link_to 'Back', events_path,  class: "btn" %>
</div>