<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category.name %>
</p>

<h4> <%= @comments.count%> <%= 'comment'.pluralize(@comments.count) %> </h4>

<% @comments.each do |comment| %>
  <p> <%= comment.comment %> 
      <%= link_to "edit", edit_comment_path(comment) %>
      <%= link_to "delete", comment, method: :delete %>
  </p>

<% end %>

<%= simple_form_for Comment.new do |f| %>
  <%= f.input :comment, label: "Add Comment" %>
  <%= hidden_field_tag("comment[event_id]", @event.id) %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
