<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "My-Dairy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
     <nav>
      <div class="nav-wrapper container">
        <%= link_to 'My Dairy', index_path, class: "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li> <%= link_to "My Events", events_path %> </li>
            <li> <%= link_to "My Profile", edit_user_registration_path %></li>
            <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
          <% else %>
            <li> <%= link_to "Sign In", new_user_session_path %> </li>
            <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if user_signed_in? %>
            <li> <%= link_to "My Events", events_path %> </li>
            <li> <%= link_to "My Profile", edit_user_registration_path %></li>
            <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
          <% else %>
            <li> <%= link_to "Sign In", new_user_session_path %> </li>
            <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
